<div class="card bg-white">
  <h5 class="card-header">My complaints</h5>
  <div class="card-body">
    <form [formGroup]="form" (submit)="onSearch()" autocomplete="off">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="keyword">Search by topic or details</label>
            <input id="keyword" type="text" class="form-control" placeholder="Search by topic or details" formControlName="keyword">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="date-from">Created date from</label>
            <div class="input-group">
              <input class="form-control" placeholder="Created date from" formControlName="dateFrom" ngbDatepicker #dateFrom="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="dateFrom.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="date-to">Created date to</label>
            <div class="input-group">
                <input class="form-control" placeholder="Created date to" formControlName="dateTo" ngbDatepicker #dateTo="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="dateTo.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="categoryId">Category</label>
            <select id="categoryId" class="form-control" formControlName="categoryId">
              <option [ngValue]="null">All categories</option>
              <option *ngFor="let option of categoryOptions" [ngValue]="option.id">{{option.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="status">Status</label>
            <select id="status" class="form-control" formControlName="status">
              <option [ngValue]="null">All statuses</option>
              <option *ngFor="let option of statusOptions" [ngValue]="option.value">{{option.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="severity">Severity level</label>
            <select id="severity" class="form-control" formControlName="severity">
              <option [ngValue]="null">All levels</option>
              <option *ngFor="let option of severityOptions" [ngValue]="option.level">{{option.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-dark">Search</button>
      </div>
    </form>
  </div>
</div>
<table class="table table-hover table-sm" *ngIf="results && results.length">
  <thead>
    <tr>
      <th>Complaint</th>
      <th>Severity level</th>
      <th>Created Date</th>
      <th>Status</th>
      <th>Assignee</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of results">
      <td>
        <a routerLink="/complaints/{{result.id}}">{{result.topic}}</a>
      </td>
      <td [class.text-danger]="result.severity === 3">{{result.severity | severity}}</td>
      <td>{{result.created}}</td>
      <td>{{result.status | status}}</td>
      <td [ngSwitch]="!!result.assignee">
        <div *ngSwitchCase="true">{{result.assignee | fullname}}</div>
        <div *ngSwitchCase="false" class="text-muted">Waiting for relevant staff</div>
      </td>
    </tr>
  </tbody>
</table>
<app-empty-results *ngIf="results && !results.length"></app-empty-results>
