<div class="card bg-white">
  <h5 class="card-header">Create complaint</h5>
  <div class="card-body">
    <form [formGroup]="form" (submit)="onSubmit()" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="category">Category</label>
            <!-- <input id="category" type="text" class="form-control" formControlName="category"> -->
            <select id="category" class="form-control" formControlName="category">
              <option *ngFor="let option of categoryOptions" [ngValue]="option">{{option.name}}</option>
            </select>
            <utils-form-control-error [control]="form.controls['category']" error="required">This field is required.</utils-form-control-error>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="severity">Severity level</label>
            <select id="severity" class="form-control" formControlName="severity">
              <option *ngFor="let option of severityOptions" [ngValue]="option.level">{{option.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="topic">Topic</label>
            <input id="topic" type="text" class="form-control" formControlName="topic">
            <utils-form-control-error [control]="form.controls['topic']" error="required">This field is required.</utils-form-control-error>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" class="form-control" formControlName="content"></textarea>
        <utils-form-control-error [control]="form.controls['content']" error="required">This field is required.</utils-form-control-error>
      </div>
      <div class="form-inline">
        <input id="incognito" type="checkbox" class="mr-2" formControlName="incognito" [value]="true" [checked]="form.controls['incognito'].value === true">
        <label for="incognito">Not revealing</label>
      </div>
      <div class="form-group-btn text-right">
        <button type="submit" class="btn btn-dark">Save</button>
        <button type="button" class="btn btn-light" (click)="location.back()">Back</button>
      </div>
    </form>
  </div>
</div>
<app-empty-results *ngIf="results && !results.length"></app-empty-results>
