<div class="card bg-white">
  <h5 class="card-header">[{{complaint.severity | severity}}] {{complaint.topic}}</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <p style="white-space: pre-line">{{complaint.content}}</p>
      </div>
      <div class="col-md-4">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th>Status</th>
              <td>
                <div>{{complaint.status | status}}</div>
                <div *ngIf="isAbleToChangeStatus()">
                  <button *ngIf="complaint.status === 'CREATED'"
                    type="button" class="btn btn-sm btn-outline-info mr-2"(click)="acknowledge()">Acknowledge</button>
                  <button *ngIf="complaint.status === 'TO_DO'"
                    type="button" class="btn btn-sm btn-outline-primary mr-2"(click)="working()">Working</button>
                  <button *ngIf="complaint.status === 'WORKING'"
                    type="button" class="btn btn-sm btn-outline-success mr-2"(click)="complete()">Complete</button>
                  <button
                    type="button" class="btn btn-sm btn-outline-secondary mr-2" (click)="close()">Close</button>
                </div>
              </td>
            </tr>
            <tr>
              <th>Staff</th>
              <td [ngSwitch]="!!complaint.assignee">
                <div *ngSwitchCase="true">
                  <div *ngIf="!selectingAnotherStaff">
                    {{complaint.assignee | fullname}}
                  </div>
                </div>
                <div *ngSwitchCase="false" class="text-muted">
                  <div *ngIf="!selectingAnotherStaff">
                    Waiting for relevant staff
                  </div>
                </div>
                <div *ngIf="isAbleToChangeAssignee()">
                  <div *ngIf="selectingAnotherStaff" class="input-group">
                    <select #selectStaff class="form-control input-sm">
                      <option [value]="null">Select another staff</option>
                      <option *ngFor="let option of staffOptions" [value]="option.id">{{option | fullname}}</option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click)="assignTo(selectStaff.value)">Assign</button>
                    </div>
                  </div>
                  <button type="button" class="btn btn-sm btn-link mr-2"(click)="selectingAnotherStaff = !selectingAnotherStaff">Change to another staff</button>
                  <button *ngIf="complaint.assignee" type="button" class="btn btn-sm btn-link mr-2"(click)="backToAdmin()">Send back to admin</button>
                </div>
              </td>
            <tr>
              <th>Owner</th>
              <td [class.text-muted]="complaint.incognito">{{complaint.incognito ? 'Not revealing' : complaint.ownerId}}</td>
            </tr>
            <tr>
              <th>Create</th>
              <td>{{complaint.created}}</td>
            </tr>
            <tr>
              <th>Logs</th>
              <td>
                  <a routerLink="/complaints/{{complaint.id}}/logs">see all logs</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group-btn text-right">
      <a routerLink="/complaints" class="btn btn-light">Back</a>
    </div>
  </div>
</div>
<small *ngIf="isAbleToClose()">If you want to <u>close</u> this complaint you can click <a href="javascript:void(0);" (click)="close()">here</a> before staff get this complaint</small>
<h5 class="mt-5">Comments</h5>
<div class="row">
  <div class="col-md-6">
    <small class="text-muted" *ngIf="comments && !comments.length">No comments</small>
    <div *ngIf="comments && comments.length">
      <div class="card bg-white" *ngFor="let comment of comments">
        <div class="card-body">
          <p>{{comment.comment}}</p>
          <small class="text-muted">
            <span>By </span>
            <span *ngIf="comment.actionStudentId">
              <span [class.text-muted]="complaint.incognito">{{complaint.incognito ? 'Not revealing' : comment.actionStudentId}}</span>
            </span>
            <span *ngIf="comment.actionStaff">{{comment.actionStaff | fullname}}</span>
            <span *ngIf="comment.actionAdmin">{{comment.actionAdmin | fullname}}</span>
            <span> at {{comment.timestamp}}</span>
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <textarea id="comment" #comment class="form-control" placeholder="comment..."></textarea>
    </div>
    <div class="text-right">
      <button type="button" class="btn btn-light" (click)="addComment(comment.value); comment.value = ''">Add comment</button>
    </div>
  </div>
</div>
