<div class="card bg-white">
  <h5 class="card-header">[{{complaint.severity | severity}}] {{complaint.topic}}</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
          <p>{{complaint.content}}</p>
      </div>
      <div class="col-md-4">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th>Status</th>
              <td>{{complaint.status | status}}</td>
            </tr>
            <tr>
              <th>Staff</th>
              <td [ngSwitch]="!!complaint.assignee">
                <div *ngSwitchCase="true">{{complaint.assignee | fullname}}</div>
                <div *ngSwitchCase="false" class="text-muted">Waiting for relevant staff</div>
              </td>
            <tr>
              <th>Owner</th>
              <td [class.text-muted]="complaint.incognito">{{complaint.incognito ? 'Not revealing' : complaint.ownerId}}</td>
            </tr>
            <tr>
              <th>Create</th>
              <td>{{complaint.created}}</td>
            </tr>
            <tr>
              <th>Logs</th>
              <td>
                  <a routerLink="/complaints/{{complaint.id}}/logs">see all logs</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group-btn text-right">
      <button type="button" class="btn btn-light" (click)="location.back()">Back</button>
    </div>
  </div>
</div>
<h5 class="mt-5">Comments</h5>
<div class="row">
  <div class="col-md-6">
    <small class="text-muted" *ngIf="comments && !comments.length">No comments</small>
    <div *ngIf="comments && comments.length">
      <div class="card bg-white" *ngFor="let comment of comments">
        <div class="card-body">
          <p>{{comment.comment}}</p>
          <small class="text-muted">
            <span>By </span>
            <span *ngIf="comment.actionStudentId">
              <span [class.text-muted]="complaint.incognito">{{complaint.incognito ? 'Not revealing' : comment.actionStudentId}}</span>
            </span>
            <span *ngIf="comment.actionStaff">{{comment.actionStaff | fullname}}</span>
            <span *ngIf="comment.actionAdmin">{{comment.actionAdmin | fullname}}</span>
            <span> at {{comment.timestamp}}</span>
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <textarea id="comment" #comment class="form-control" placeholder="comment..."></textarea>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-light" (click)="addComment(comment.value); comment.value = ''">Add comment</button>
      </div>
  </div>
</div>
