<div class="card bg-white">
  <h5 class="card-header">[{{complaint.severity | severity}}] {{complaint.topic}}</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
          <p>{{complaint.content}}</p>
      </div>
      <div class="col-md-4">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th>Status</th>
              <td>{{complaint.status | status}}</td>
            </tr>
            <tr>
              <th>Staff</th>
              <td [ngSwitch]="!!complaint.assignee">
                <div *ngSwitchCase="true">{{complaint.assignee | fullname}}</div>
                <div *ngSwitchCase="false" class="text-muted">Waiting for relevant staff</div>
              </td>
            <tr>
              <th>Owner</th>
              <td [class.text-muted]="complaint.incognito">{{complaint.incognito ? 'Not revealing' : complaint.ownerId}}</td>
            </tr>
            <tr>
              <th>Create</th>
              <td>{{complaint.created}}</td>
            </tr>
            <tr>
              <th>Logs</th>
              <td>
                  <a routerLink="/complaints/{{complaint.id}}/logs">see all logs</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group-btn text-right">
      <button type="button" class="btn btn-light" (click)="location.back()">Back</button>
    </div>
  </div>
</div>
<h5 class="mt-5">Comments</h5>
<pre>
  {{complaint | json}}
</pre>